.search-Bar{
    width: 173%;
}
.logo{
    width: 90px;
    height: 45px; 
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color:  #5624d0;}
.divImg{
    position: relative;
}
.text-block {
    position: absolute;
    bottom: 150px;
    left: 65px;
    background-color: white;
    color:black;
    width: 449px;
  }
.course-hover li:hover{
    color: rgb(126, 12, 31);
}
.card-title-Font{
    font-size: 15px;
}
.teacherName-Font{
    font-size: 12px;
}
.paragraph{
    height: 50%;
    width: 57%;
}
.orangecolor{
    color: rgb(228, 161, 35);
    font-size: 12px;
    padding-bottom: 2px;
}
.fourColor{
    color: rgb(168, 112, 7);
    font-weight: 700;
}
.spanFw{
    font-size: 12px;
    font-weight: 400;
}
.rupiesIcon{
    font-size: 13px;
}
.bestSeller{
    font-size: 13px;
    height: 23px;
    width: 73px;
    background-color:rgb(227, 227, 111) ;
}
.card-border{
   border: none; 
}
.pw-Rounded{
    border: 1px solid;
    width: 10%;
    border-radius: 50%;
}
.Icon-Cover{
    color: #5624d0;
}
.carousal-box-border{
    width: 60%;
    height: 65%;
}
.carasoul-height{
    width: 76%;
    height: 50%;
}
.author-carasoul{
    
    width: 45%;
    height: 43%;
    border-radius: 80px;
}
.carousal-Next-Button{
    border-radius: 23px;
    height: 46px;
    width: 46px;
}
.udemy-Business-Logo{
    height: 50%;
    width: 50%;
}
.footer-Logo-Udemy{
    width: 13%;
    height: 100%;
}
.footer-P-Font{
    font-size: 13px;
}
.udemyB-Skill{
    width: 192px;
    height: 32px;
}
 .footer-OnHover .a{
    text-decoration: underline; 
    background-color: yellowgreen;
}