@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.search-Bar {
    width: 173%;
}

.logo {
    width: 90px;
    height: 45px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #5624d0;
}

.divImg {
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 150px;
    left: 65px;
    background-color: white;
    color: black;
    width: 449px;
}

.card-img-height {
    height: 47%;
}

.card4-img4-height {
    width: 32%;
}

.course-hover li:hover {
    color: rgb(126, 12, 31);
}

.card-title-Font {
    font-size: 15px;
}

.teacherName-Font {
    font-size: 12px;
}

.paragraph {
    height: 50%;
    width: 57%;
}

.orangecolor {
    color: rgb(228, 161, 35);
    font-size: 12px;
    padding-bottom: 2px;
}

.fourColor {
    color: rgb(168, 112, 7);
    font-weight: 700;
}

.spanFw {
    font-size: 12px;
    font-weight: 400;
}

.rupiesIcon {
    font-size: 13px;
}

.bestSeller {
    font-size: 13px;
    height: 23px;
    width: 73px;
    background-color: rgb(227, 227, 111);
}

.card-border {
    border: none;
}

.pw-Rounded {
    border: 1px solid;
    width: 10%;
    border-radius: 50%;
}

.Icon-Cover {
    color: #5624d0;
}

.carousal-box-border {
    width: 60%;
    height: 65%;
}

.carasoul-height {
    width: 76%;
    height: 50%;
}

.author-carasoul {
    width: 45%;
    height: 47%;
    border-radius: 80px;
}

.carousal-Previous-Button {
    margin-left: 185px;
}

.carousal-Next-Button {
    margin-right: 185px;
}

/* carasoul style */
.carousel-item:first-child .carousel-control-next {
    display: block;
}

.carousel-item:last-child .carousel-control-prev {
    display: block;
}

/* crasouel style */
.carousal-1-previous-Button {
    margin-right: 134px;
}

.carousal-1-Next-Button {
    margin-left: 134px;
}

.carousal-2-previous-Button {
    margin-right: 160px;
}

.carousal-2-Next-Button {
    margin-left: 160px;
}

.carousal-3-previous-Button {
    margin-right: 10px;
    margin-bottom: 245px;
}

.carousal-3-Next-Button {
    margin-left: 107px;
    margin-bottom: 172px;
}

.udemy-Business-Logo {
    height: 50%;
    width: 50%;
}

.footer-Logo-Udemy {
    width: 13%;
    height: 100%;
}

.footer-P-Font {
    font-size: 13px;
}

.udemyB-Skill {
    width: 192px;
    height: 32px;
}

#footer-OnHover:hover {
    border: 3px sodid white;
    text-decoration: underline;
    color: #5624d0;

}

.family {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
}

#imgHover:hover {
    /* transform: scale(1.5);  */
    height: 90%;
    width: 100%;
}

.anchor-Hover a:hover {
    border-bottom: 1px solid white;
    width: 65%;
}

.margin-rightClass {
    margin-right: -312px;
}